/* Basic CSS Reset so 'normalize' all browsers (remove differences in default margin & padding) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-header {
  border-bottom: 1px solid lightgray;
}

/* There should only be one main, so no need to add an id to it. */
main {
  padding-left: 20%;
  padding-right: 20%;
}

.store-card {
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

/* Select all store-logo class elements that are inside store-card class elements. */
.store-card .store-logo {
  margin-right: 20px;
  border-radius: 50%;
}

/**************************************************
DISPLAY
***************************************************/
.flex-row {
  display: flex;
}

/**************************************************
BORDERS
***************************************************/
.border-red {
  border: 2px solid red;
}

.border-green {
  border: 2px solid green;
}

.border-orange {
  border: 2px solid orange;
}

.border-circle {
  border-radius: 50%;
}

.border-muted {
  border: 1px solid lightgray;
}

/**************************************************
SPACING / ALIGNMENT
***************************************************/
.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.pad-md-lg {
  /* all around */
  padding: 40px;
}

.mr-sm {
  margin-right: 15px;
}

.mb-md {
  margin-bottom: 20px;
}

/* 
  Select all the spans inside of id="top-nav" except the last span.

  ALTERNATIVELY, could just add a margin-right class to every span except the last one manually.
*/
#top-nav span:not(:last-child) {
  margin-right: 15px;
}
