/* CSS Reset. Remove all spacing. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#top-header {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 50px;
}

/* 
add margin-right to every span inside the #top-nav except the last one
*/
#top-nav span:not(:last-child) {
  margin-right: 20px;
}

main {
  padding-left: 20%;
  padding-right: 20%;
}

.your-stores {
  padding: 20px 200px 20px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
  margin-right: 20px;
}

.your-stores .store-logo {
  margin-right: 15px;
}

/************ TEXT ************/
.font-bold {
  font-weight: bold;
}

.font-muted {
  color: gray;
}

/************ DISPLAY ************/
.row {
  display: flex;
}

/************ SPACING ************/
.justify-content-space-between {
  justify-content: space-between;
}

/* margin bottom small */
.mb-sm {
  margin-bottom: 30px;
}

.pad-your-stores {
  padding: 20px 150px 20px 20px;
}

/************ ALIGNMENT ************/
.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

/************ BORDERS ************/
.border-circle {
  border-radius: 50%;
}

.border-round {
  border-radius: 10px;
}

/************ SHADOWS ************/
.shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
}
