* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#top-header {
  padding: 30px;
  align-items: center;
}

main {
  background-color: #6f5964;
  padding: 20px 30px;
}

#profile-pic {
  margin-right: 20px;
}

#about-me p {
  margin-top: 15px;
}

#projects-row .project-panel:not(:last-child) {
  margin-right: 20px;
}

.project-panel {
  /* Keep the panels the same width despite different amounts of content. */
  flex-basis: 0;
  flex-grow: 1;
}

.project-panel .project-img {
  width: 100%;
  /* Get rid of tiny gap under img */
  display: block;
}

.project-panel .project-desc {
  min-height: 360px;
  padding-left: 10px;
  padding-right: 10px;
}

.bg-muted {
  /* background-color: #f8f8f8; */
  background-image: linear-gradient(#f2f2f2, #fefefe);
}

.bg-light {
  background-color: #ede5ec;
}

.bg-light-gradient {
  /* change to gradient */
  background-color: #9e9da5;
}

.flex-row {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.px-sm {
  padding-left: 10px;
  padding-right: 10px;
}

.p-sm {
  padding: 10px;
}

.mb-md {
  margin-bottom: 20px;
}
